.botao {
  background-color: #fff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 1.2rem;
  color: #000;
  border: none;
  padding: 10px 25px;
  margin-top: 30px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.botao:hover {
  transform: scale(1.1);
}